* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#divCartelera{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 25px;
}