* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
header, body {
    background: rgb(46,4,71);
background: radial-gradient(circle, rgba(46,4,71,1) 0%, rgba(0,0,0,1) 100%);

}
.card{
    background: #5d5179 !important;
    opacity: 25;
}
.btn{
    background: #4f759b !important;
}
ul{
    list-style: none;
}
#cartelera{
    
    overflow-x: hidden;

}

#botoneraSemana{
    gap: 5px;   
}
#divCartelera, #divEstrenos{    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 25px;
}