/* Colores */

$primary: #5d5179;
$secondary: #4f759b;
$terciary: rgb(46,4,71);
$font-color: #aaa;
$success: #dd7596;
$info: #25d366;
$warning: #c13584;
$light: #4267b2;

/* Sombra */

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(252, 11, 192, 0.6);
$box-shadow-lg: 0 1rem 3rem rgba(252, 11, 192, 0.6);
$box-shadow-inset: inset 0 1px 2px rgba(252, 11, 192, 0.6);

$enable-gradient: true;

/* Padding - Margin - Especifico */
$btn-padding-y: 0.8rem;
$btn-padding-x: 1rem;

$btn-border-radius: 1rem;